body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    text-align: left;
    background-color: #7dbd5e;
}
.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.container .row {
    margin-left: 0;
    margin-right: 0;
}
.container form .row{
    padding: 10px 0;
}
.card-body{
    padding: 2rem;
}
.form-control{
    line-height: 2;
    color: #fff;
    background-color: unset;
    border-radius: 0;
}
.form-control::placeholder {
    color: #fff;
}
.form-control:focus{
    border-color: #86b7fe;
}
.container h1{
    letter-spacing: 0.2rem;
    font-size: calc(1.375rem + 0vw);
}
.container a{
    font-size: 1.1rem;
    text-decoration: unset;
    color: #fff;
}
.container a:hover{
    color: #80deea;
}
.container p{
    font-size: 1.1rem;
    color: #fff;
}
.container .card{
    background-color: #719f56;
    border: 0;
    border-radius: 0;
}
.btn-custom{
    background-color: #76b751;
    color: #fff;
    letter-spacing: 0.2rem;
    border-radius: 0;
}
.btn-custom:hover{
    background-color: #487133;
    color: #fff;
}
.form-check-input{
    width: 1.3em;
    height: 1.3em;
    margin-top: 0.1em;
    background-color: #8ec26f;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0 !important;
}
